<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="http://tec-3-p-oct1.tec.toolsint1.winsys.tmcs"/>
    <add key="ApiKey" value="API-OWBEPLRH26TQDNZ0K37PC6V3XZG"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>